<section class="article">

	<img src="{{ assets }}/images/article.png" alt="Episode 118" class="article__image">

		<div class="article__header">
			
			<h1 class="article__header-title">“Un-Networking” or How (and Why) Successful People Become More Successful</h1>
			<p class="article__header-details">Posted by <span class="article__header-details-author">Austin Brawner</span> on<span class="article__header-details-date"> September 1, 2016</span></p>
			<div class="article__header-intro"><p>The other day I saw a book about networking called "<em>Coffee, Lunch, Coffee</em>". I only read the title and I was already exhausted.</p></div>

			<div class="article__header-social">
				
				<ul class="article__header-social-items">
					
					<li class="article__header-social-items-item">
						<a href="" class="article__header-social-items-item-link" style="background-image: url('{{ assets }}/images/facebook-small.svg')"></a>
					</li><!--
					--><li class="article__header-social-items-item">
						<a href="" class="article__header-social-items-item-link" style="background-image: url('{{ assets }}/images/twitter-small.svg')"></a>
					</li><!--
					--><li class="article__header-social-items-item">
						<a href="" class="article__header-social-items-item-link" style="background-image: url('{{ assets }}/images/google-small.svg')"></a>
					</li><!--
					--><li class="article__header-social-items-item">
						<a href="" class="article__header-social-items-item-link" style="background-image: url('{{ assets }}/images/linkedin-small.svg')"></a>
					</li><!--
					--><li class="article__header-social-items-item">
						<a href="" class="article__header-social-items-item-link" style="background-image: url('{{ assets }}/images/tumblr-small.svg')"></a>
					</li>

				</ul>

			</div><!-- SOCIAL END -->

		</div><!-- HEADER END --> 

		<div class="article__content">
			{{ post.content }}
		</div>
</section>