<section class="bottomDripForm">

	<div class="bottomDripForm__inner" style="background-image: url('{{site_settings.ss_popup_form_banner_footer_image['url']}}');">

		<div class="bottomDripForm__block">

			<div class="bottomDripForm__content">

				<div class="bottomDripForm__content-top">
					<img src="{{site_settings.ss_popup_form_banner_footer_small_image['url']}}" alt="" class="bottomDripForm__content-top-image">
					<div data-drip-attribute="headline" class="bottomDripForm__content-title">{{ site_settings.ss_popup_form_title }}</div>
					<div data-drip-attribute="description" class="bottomDripForm__content-text">{{ site_settings.ss_popup_form_text ? site_settings.ss_popup_form_text }}</div>
				</div><!--
				--><div class="bottomDripForm__content-formContainer">

					<form action="https://www.getdrip.com/forms/956224861/submissions" method="post" data-drip-embedded-form="956224861" class="bottomDripForm__form">

						<div class="bottomDripForm__form-block">
							<label for="bottomDrip-First-Name" class="bottomDripForm__form-block-label">{{ site_settings.ss_popup_form_name_field }}</label>
							<input type="text" id="bottomDrip-First-Name" name="fields[First_Name]" value="" class="bottomDripForm__form-block-input" placeholder="{{ site_settings.ss_popup_form_bottom_name_placeholder }}">
						</div><!--
						--><div class="bottomDripForm__form-block">
							<label for="bottomDrip-email" class="bottomDripForm__form-block-label">{{ site_settings.ss_popup_form_email_field }}</label>
							<input type="email" id="bottomDrip-email" name="fields[email]" value="" class="bottomDripForm__form-block-input bottomDripForm__form-block-input--email" placeholder="{{ site_settings.ss_popup_form_bottom_email_placeholder }}">
						</div><!--
						-->
						<div class="bottomDripForm__form-block bottomDripForm__form-block--button">
							<input type="submit" name="submit" value="{{ site_settings.ss_popup_form_button_text }}" class="bottomDripForm__form-block-button">
						</div>

						<div class="bottomDripForm__form-errors">Please enter a valid name and email</div>

					</form>

				</div>

			</div><!-- CONTENT END -->

		</div><!-- BLOCK END -->

	</div> <!-- INNER END -->

</section> <!-- Bottom DRIP FORM END -->