<section class="contentGrid lastBlock">

	<div class="contentGrid__innner constrain">
		
		<div class="contentGrid__actionBar">
			
			<div class="contentGrid__actionBar-new">
				
				<a href="" class="contentGrid__actionBar-new-link contentGrid__actionBar-new-link--first">Newer</a>

			</div><!-- NEW BLOCK END
			--><div class="contentGrid__actionBar-filter">
				
				<ul class="contentGrid__actionBar-filter-items">
					
					<li class="contentGrid__actionBar-filter-items-item">
						<a href="/episodes" class="contentGrid__actionBar-filter-items-item-link contentGrid__actionBar-filter-items-item-link--all {{ title == 'Episodes' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">All</a>
					</li><!--
					--><li class="contentGrid__actionBar-filter-items-item">
						<a href="/category/podcasts" class="contentGrid__actionBar-filter-items-item-link {{ title == 'Podcasts' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">Podcasts</a>
					</li><!--
					--><li class="contentGrid__actionBar-filter-items-item">
						<a href="/category/articles" class="contentGrid__actionBar-filter-items-item-link {{ title == 'Articles' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">Articles</a>
					</li>

				</ul> 

			</div><!-- FILTER BLOCK END
			--><div class="contentGrid__actionBar-filterResponsive">
				
				<select name="" id="" class="contentGrid__actionBar-filterResponsive-select">
					<option value="all">All</option>
					<option value="podcasts">Podcasts</option>
					<option value="articles">Articles</option>
				</select>

			</div><!--
			--><div class="contentGrid__actionBar-old">
				
				<a href="" class="contentGrid__actionBar-old-link">Older</a>

			</div><!-- OLD BLOCK END -->

		</div><!-- ACTION BAR END -->

		<ul class="contentGrid__items">
			
			<li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-1.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-1.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-2.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">

				<a href="/episode" class="contentGrid__items-item-wrapper">
				
					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-2.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-4.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!-- ITEM END
			--><li class="contentGrid__items-item">
				
				<a href="/episode" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-4.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="/episode" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!-- ITEM END -->

		</ul><!-- GRID ITEMS END -->

		<div class="contentGrid__actionBar contentGrid__actionBar--bottom">
			
			<div class="contentGrid__actionBar-new">
				
				<a href="" class="contentGrid__actionBar-new-link contentGrid__actionBar-new-link--first">Newer</a>

			</div><!-- NEW BLOCK END
			--><div class="contentGrid__actionBar-filter">
				
				<ul class="contentGrid__actionBar-filter-items">
					
					<li class="contentGrid__actionBar-filter-items-item">
						<a href="/episodes" class="contentGrid__actionBar-filter-items-item-link contentGrid__actionBar-filter-items-item-link--all {{ title == 'Episodes' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">All</a>
					</li><!--
					--><li class="contentGrid__actionBar-filter-items-item">
						<a href="/category/podcasts" class="contentGrid__actionBar-filter-items-item-link {{ title == 'Podcasts' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">Podcasts</a>
					</li><!--
					--><li class="contentGrid__actionBar-filter-items-item">
						<a href="/category/articles" class="contentGrid__actionBar-filter-items-item-link {{ title == 'Articles' ? 'contentGrid__actionBar-filter-items-item-link--active'}}">Articles</a>
					</li>

				</ul>

			</div><!-- FILTER BLOCK END
			--><div class="contentGrid__actionBar-old">
				
				<a href="" class="contentGrid__actionBar-old-link">Older</a>

			</div><!-- OLD BLOCK END -->

		</div><!-- ACTION BAR END -->

	</div><!-- INNER END -->

</section>