<section class="contentGrid">
	
	<div class="contentGrid__innner constrain">
		
		<div class="contentGrid__actionBar"></div>

		<ul class="contentGrid__items">
			
			<li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-1.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-1.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-2.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">

				<a href="" class="contentGrid__items-item-wrapper">
				
					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-2.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-4.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/article-3.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--article">Article</div>
						<p class="contentGrid__items-item-textWrapper-title">How to get a 10x return on adspend with Facebook Advertising</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Read now</a>
					</div>

				</a>	

			</li><!--
			--><li class="contentGrid__items-item">
				
				<a href="" class="contentGrid__items-item-wrapper">

					<div class="contentGrid__items-item-imageWrapper">
						<img src="{{ assets }}/images/sizing-img.svg" alt="Sizing Image" class="contentGrid__items-item-imageWrapper-sizingImage">
						<span class="contentGrid__items-item-imageWrapper-image" style="background-image: url('{{ assets }}/images/episode-4.png')"></span>
					</div>

					<div class="contentGrid__items-item-textWrapper">
						<div class="contentGrid__items-item-textWrapper-label contentGrid__items-item-textWrapper-label--podcast">Episode 117</div>
						<p class="contentGrid__items-item-textWrapper-title">Confessions of a Podcast Procrastinator (We’re Back!)</p>
						<a href="" class="contentGrid__items-item-textWrapper-link">Listen now</a>
					</div>

				</a>	

			</li>

		</ul><!-- GRID ITEMS END -->

		<div class="contentGrid__actionBar"></div>

	</div><!-- INNER END -->

</section>