{% set image, author, intro = '','','' %}		

{% for block in blocks.layouts %}
	{% if (block.layout == 'post_details')%}

		{% set image, author, intro = block.image, block.author, block.intro %}	
	
	{% endif %}
{% endfor %}

<section class="episode">

	<div class="episode__imageWrapper">
		<img src="{{ assets }}/images/sizingImage-episode.png" alt="Sizing Image" class="episode__imageWrapper-sizingImage">
		<span class="episode__imageWrapper-image" style="background-image: url('{{ image.url }}')"></span>
	</div>

	<!-- style="background-image: url({{ brick.hero_background_image.url }}) -->

		<div class="episode__header">
			
			<h1 class="episode__header-title">{{ title }}</h1>
			<p class="episode__header-details">
			
			{% if (author) %}

				Posted by <span class="episode__header-details-author">{{ author }}</span>	

			{% endif %}			

			{% if (post.category.name == 'Podcasts') %}

				on<span class="episode__header-details-date"> {{ post.post_date }}</span>

			{% endif %}

			</p>
			
			{% if (intro) %}

				<div class="episode__header-intro">{{ intro }}</div>

			{% endif %}	

			<div class="episode__header-social">
				
				<ul class="episode__header-social-items">
					
					<li class="episode__header-social-items-item">
						<a href="" class="episode__header-social-items-item-link" style="background-image: url('{{ assets }}/images/facebook-small.svg')"></a>
					</li><!--
					--><li class="episode__header-social-items-item">
						<a href="" class="episode__header-social-items-item-link" style="background-image: url('{{ assets }}/images/twitter-small.svg')"></a>
					</li><!--
					--><li class="episode__header-social-items-item">
						<a href="" class="episode__header-social-items-item-link" style="background-image: url('{{ assets }}/images/google-small.svg')"></a>
					</li><!--
					--><li class="episode__header-social-items-item">
						<a href="" class="episode__header-social-items-item-link" style="background-image: url('{{ assets }}/images/linkedin-small.svg')"></a>
					</li><!--
					--><li class="episode__header-social-items-item">
						<a href="" class="episode__header-social-items-item-link" style="background-image: url('{{ assets }}/images/tumblr-small.svg')"></a>
					</li>

				</ul>

			</div><!-- SOCIAL END -->

		</div><!-- HEADER END --> 

		<div class="episode__content">
			{{ post.content }}
		</div>
</section>