{% if episodes|length > 0 %}
	<section class="latestContentHome">
		
		{% for episode in episodes %}
			
		   <div class="latestContentHome__block {{ episode.category.name == 'Podcasts' ? 'latestContentHome__block--podcast' : 'latestContentHome__block--article' }}">
				
				{% if (episode.category.name == 'Podcasts') %}
					<div class="latestContentHome__block-label latestContentHome__block-label--podcast">Episode {{ episode.podcast_number }}</div>
				{% else %}
					<div class="latestContentHome__block-label latestContentHome__block-label--article">{{ episode.category.name }}</div>
				{% endif %}
				
				<div class="latestContentHome__block-imageWrapper">
					<img src="{{ assets }}/images/sizingImage-episode.png" alt="Sizing Image" class="latestContentHome__block-imageWrapper-sizingImage">
					<span class="latestContentHome__block-imageWrapper-image" style="background-image: url('{{ episode.thumbnail.src }}')"></span>
				</div>

				<div class="latestContentHome__block-textWrapper">
					<h2 class="latestContentHome__block-title"><a href="{{ episode.link }}" class="latestContentHome__block-title-link">{{ episode.title }}</a></h2>

						<p class="latestContentHome__block-text">{{ episode.get_preview(50,false,false)}}</p>
					
				</div>

			</div>

		{% endfor %}

	</section>
{% endif %}