<div class="popUpTemplate__wrapper">
	<div class="
	popUpTemplate__formBlock">

		<div class="popUpTemplate__formBlock-wrapper">
			
			<div class="popUpTemplate__formBlock-top">
				<img src="{{ assets }}/images/tablet-medium.png" alt="Form Image" class="popUpTemplate__formBlock-image popUpTemplate__formBlock-image">

				<h3 data-drip-attribute="headline" class="popUpTemplate__formBlock-formTitle"><span class="popUpTemplate__formBlock-formTitle-text">{{ site_settings.ss_popup_form_title }}</span></h3>
				<p data-drip-attribute="description" class="popUpTemplate__formBlock-formText">{{ site_settings.ss_popup_form_text ? site_settings.ss_popup_form_text }}</p>
			</div><!--
			--><form class="popUpTemplate__formBlock-form">
				
				<div class="popUpTemplate__formBlock-form-block">
					<label for="drip-First-Name"></label>
					<input type="text" id="drip-First-Name" name="fields[First_Name]" value="" class="popUpTemplate__formBlock-form-block-input" placeholder={{ site_settings.ss_popup_form_bottom_name_placeholder }}">
				</div>
				<div class="popUpTemplate__formBlock-form-block">
					<label for="drip-email"></label>
					<input type="email" id="drip-email" name="fields[email]" value="" class="popUpTemplate__formBlock-form-block-input" placeholder={{ site_settings.ss_popup_form_bottom_email_placeholder }}">
				</div>
				<div class="popUpTemplate__formBlock-form-block popUpTemplate__formBlock-form-block--button">
					<input type="submit" name="submit" value="{{ site_settings.ss_popup_form_button_text }}" data-drip-attribute="sign-up-button" class="popUpTemplate__formBlock-form-block-button">
				</div>

			</form>

		</div><!-- WRAPPER END -->

	</div><!-- FORM BLOCK END -->
</div><!-- WRAPPER END -->