<footer class="footer">
    
    <div class="footer__upper">
    	
		<div class="footer__inner constrain">

			<div class="footer__content">
				
				<div class="footer__content-logo">
					
					 <a href="/" class="footer__content-logo-link">
		                <img src="{{ assets }}/images/websitelogo.png" alt="Ecommerce Influence" class="footer__content-logo-image" srcset="{{ assets }}/images/websitelogo@2x.png 2x">
	            	</a>

				</div><!--LOGO END
				--><div class="footer__content-nav">
			
					<ul class="footer__content-nav-items">
						
						{% for item in main_menu.get_items %}<!--
						--><li class="footer__content-nav-items-item">
                            <a href="{{ item.link }}" class="footer__content-nav-items-item-link {{ item.current ? 'footer__content-nav-items-item-link--active'}}">{{ item.title }}</a>
	                    </li><!--
	                    -->{% endfor %}<!--
	                    -->{% for item in featured_menu.get_items %}<!--
	                    --><li class="footer__content-nav-items-item footer__content-nav-items-item--button">
	                            <a href="{{ item.link}}" class="footer__content-nav-items-item-link footer__content-nav-items-item-link--button">{{ item.title }}</a>
                        </li><!--
                        -->{% endfor %}

					</ul>

				</div><!--NAVIGATION END
				--><div class="footer__content-social">
			
					<ul class="footer__content-social-items">
						
						<li class="footer__content-social-items-item">
							<a href="{{ site_settings.ss_social_twitter }}" class="footer__content-social-items-item-link footer__content-social-items-item-link--twitter" target="_blank"></a>
						</li><!--
						--><li class="footer__content-social-items-item">
							<a href="{{ site_settings.ss_social_facebook }}" class="footer__content-social-items-item-link footer__content-social-items-item-link--facebook" target="_blank"></a>
						</li><!--
						-->
					</ul>

				</div><!-- SOCIAL END -->

			</div><!-- CONTENT END -->
			
		</div><!-- INNER END -->

    </div><!-- UPPER END -->


	<div class="footer__lower">
		
		<div class="footer__inner constrain">
			
			<div class="footer__copyright">
				
				<p class="footer__copyright-text">© Ecommerce Influence LLC {{ now|date('Y') }} - All Rights Reserved</p>

				<div class="footer__disclaimer-text">
					<a href="/privacy-policy/">Privacy Policy | </a>
					<a href="/terms-of-use/">Terms of Use | </a>
					<a href="/disclaimer/">Disclaimer</a>
				</div>

			</div><!-- COPYRIGHT END -->

		</div>

	</div><!-- LOWER END -->

</footer><!-- FOOTER END -->
